# Core
python-dotenv
MetaTrader5
numpy
pandas
Pillow
certifi
scikit-learn
holidays
google-generativeai
pytz

# UI
PyQt6
matplotlib
mplfinance
beautifulsoup4
cloudscraper
fmp-py
tradingeconomics
pytest-xdist
pytest-qt
